
#nav-logo-menu-2--0 .bg-wrap {}#header-search-2 .bg {
	background-repeat: No-repeat;
    background-image: url('../images/decor/image-8810-1570471804.jpg');
    background-position: center center;
    background-size: cover;
    opacity: 0.96;
}

#text-2col-2--0 .bg-wrap {
	background: #465d62;}
#text-2col-2--2 .bg-wrap {
	background: #465d62;}
#text-2col-2--1 .bg {}