#header-search-2 .bg {
    background-image: url('../images/bg-pattern-1-primary.png');
    background-repeat: repeat;
    background-position: center;
    background-size: 200px 200px;
    opacity:0.2;
}

#text-2col-2--0 .bg-wrap {
	background: #0e5256;}
#text-2col-2--2 .bg-wrap {
	background: #0e5256;}